<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>asley-cam home</title>

        <style>
            body {
                font-family: couriers, monospace;
                text-align: center;
                padding: 50px;
                font-size: 20px;
            }
        </style>

    </head>
    <body>
        <h1>welcome to the asley-cam!</h1>
        <p>it's called asley-cam because, well... asley made it!</p>
        <p>click the button below to begin capturing photos</p>

        <form action="/capture" method="POST">
            <button type="submit">click me!!</button>
        </form>
    </body>
</html>